# Build artifacts
target/
#out/
gen/

# Maven Wrapper - KEEP THESE
!/.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Secrets and Logs
.env
*.log
.DS_Store

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Shared Team Settings - UN-IGNORE
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/vcs.xml
!.idea/modules.xml

# Ensure workspace (personal settings) is always ignored
.idea/workspace.xml
.idea/usage.statistics.xml

### Github ###
.github/copilot-instructions.md